@model HomePageProjectDetailModel
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ararat</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/ArchitectureTemplate-1/img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/magnific-popup.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/themify-icons.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/nice-select.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/flaticon.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/animate.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/slicknav.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/style.css">
</head>

<body>

    @await Html.PartialAsync("header")

    <div class="project_details">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="project_details_left">
                        <div class="single_details">
                            <h3>                                
                                @Model.Project.Name
                            </h3>
                            <p>
                                @Model.Project.Description
                            </p>
                        </div>
                 
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="projects_details_info">
                        <div class="details_thumb">
                            <img width="585" height="450" src="@Model.Project.Images.FirstOrDefault()?.Url" alt="@Model.Project.Name">
                        </div>
                        <div class="details_info">
                            <h3>Proje Bilgi</h3>
                            <div class="details_info_list">
                                <div class="single_details_info d-flex justify-content-between align-items-center">
                                    <span class="left_info">Müşteri</span>
                                    <span class="right_info">Emir Balcı</span>
                                </div>
                                <div class="single_details_info d-flex justify-content-between align-items-center">
                                    <span class="left_info">Kategori</span>
                                    <span class="right_info">@Model.Project.Category.Name</span>
                                </div>
                                <div class="single_details_info d-flex justify-content-between align-items-center">
                                    <span class="left_info">Teslim Tarihi</span>
                                    <span class="right_info">@(((DateTime)Model.Project.DeliveryDate).ToString("d MMMM yyyy"))</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project_share">
                        <div class="single_details_info d-flex justify-content-between align-items-center">
                            <span class="left_info">Sosyal Medya</span>
                            <span class="right_info">
                                <a href="https://www.instagram.com/modernizmimarlikmuhendislik/" target="_blank"> <i class="fa-brands fa-instagram" style="color:aliceblue"></i> </a>
                                <a href="#"> <i class="fa-brands fa-facebook" style="color:aliceblue"></i> </a>
                                <a href="#"> <i class="fa-brands fa-twitter" style="color:aliceblue"></i> </a>                           
                                <a href="#"> <i class="fa-brands fa-pinterest" style="color:aliceblue"></i> </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="testmonial_area testimonial_bg overlay2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_testmonial">
                            <div class="testmonial_info text-center">
                                <div class="author">
                                    <img src="~/ArchitectureTemplate-1/img/testmonial/author.png" alt="">
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor
                                    incididunt ut
                                    <br> labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                    Risus
                                    commodo
                                    viverra <br> maecenas accumsan lacus vel facilisis.
                                </p>
                                <div class="author_name">
                                    <h4>-MITHILA</h4>
                                    <span> Designer at Colorlib</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_testmonial">
                            <div class="testmonial_info text-center">
                                <div class="author">
                                    <img src="~/ArchitectureTemplate-1/img/testmonial/author.png" alt="">
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor
                                    incididunt ut
                                    <br> labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                    Risus
                                    commodo
                                    viverra <br> maecenas accumsan lacus vel facilisis.
                                </p>
                                <div class="author_name">
                                    <h4>-MITHILA</h4>
                                    <span> Designer at Colorlib</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_testmonial">
                            <div class="testmonial_info text-center">
                                <div class="author">
                                    <img src="~/ArchitectureTemplate-1/img/testmonial/author.png" alt="">
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor
                                    incididunt ut
                                    <br> labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                    Risus
                                    commodo
                                    viverra <br> maecenas accumsan lacus vel facilisis.
                                </p>
                                <div class="author_name">
                                    <h4>-MITHILA</h4>
                                    <span> Designer at Colorlib</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("footer")

    <script src="~/ArchitectureTemplate-1/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/popper.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/bootstrap.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/owl.carousel.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/isotope.pkgd.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/ajax-form.js"></script>
    <script src="~/ArchitectureTemplate-1/js/waypoints.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.counterup.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/scrollIt.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.scrollUp.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/wow.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/nice-select.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.slicknav.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.magnific-popup.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/plugins.js"></script>

    <script src="~/ArchitectureTemplate-1/js/contact.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.form.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.validate.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/mail-script.js"></script>

    <script src="~/ArchitectureTemplate-1/js/main.js"></script>

</body>

</html>

