@using ArchitectureBlog.UI.Areas.Admin.Models;
@model UpdateProjectViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post" asp-action="Update" asp-controller="Category">
    <div class="section-header" style="text-align:center; margin-top:50px;">
        <h1>@Model.Name<h1><h2>Projeyi Güncelle</h2>
    </div>
    <br />
    <div class="row">
        <div class="col-5 blogadd">
            <div>
                @Html.HiddenFor(x=>x.Id)
                <label class="form-label">Proje Adı</label>
                @Html.TextBoxFor(x=>x.Name,new{@class="form-control"})
                @Html.ValidationMessageFor(x=>x.Name)
            </div>
            <br />
            <div>
                <label class="form-label">Proje Açıklaması</label>
                @Html.TextAreaFor(x=>x.Description,15,3,new{@class="form-control"})
                @Html.ValidationMessageFor(x=>x.Description)
            </div>
            <br />
           <div>
                <label class="form-label">Lokasyon</label>
                @Html.TextBoxFor(x=>x.Location,new{@class="form-control"})
                @Html.ValidationMessageFor(x=>x.Location)
            </div>
            <br />
            <div class="mb-4">
                <label class="form-label">Kategori Seçiniz</label>
                @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.Categories,new{@class="form-control"})
            </div>
            <br />
            <button class="saved"><i class="bi bi-upload me-2"></i>Kaydet</button>
            <button class="backtolist">
                <a class="backtolistlink" href="/Admin/Project/Index"><i class="bi bi-arrow-left me-2"></i>Listeye Dön</a>
            </button>
        </div>
    </div>
</form>

<style>
    .saved {
        background-color: #eb5f42;
        color: white;
        border: none;
        width: 95px;
        height: 35px;
        border-radius: 5px;
    }

    .backtolist {
        background-color: #316464;
        color: white;
        border: none;
        width: 120px;
        height: 35px;
        border-radius: 5px;
    }

    .backtolistlink {
        color: white;
    }

    .blogadd {
        margin-left: 29%;
    }

</style>